# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/server
/losslesscut-server
/ffmpeg-static
/ffprobe-static
*.old

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idea/

# Config
config.local.yaml

# Data
/data/
